<% content_for :title, t('.contact') %>
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center"><%= t('.contact') %></h2>
        </div>
        <div class="col-md-6 text-center">
            <h4 class="intro-text"><strong>Alfat Saputra Harun</strong></h4>
            <hr>
            <p><i class="fa fa-facebook"></i>
                <%= link_to "#{t('.alfat')} #{t('.fb')}", 'https://web.facebook.com/asharun' %>
            </p>
            <p><i class="fa fa-instagram"></i>
                <%= link_to "#{t('.alfat')} #{t('.ig')}", 'https://www.instagram.com/harunalfat' %>
            </p>
            <p><i class="fa fa-linkedin"></i>
                <%= link_to "#{t('.alfat')} #{t('.linked')}", 'https://id.linkedin.com/in/harunalfat' %>
            </p>
            <p><i class="fa fa-twitter"></i>
                <%= link_to "#{t('.alfat')} #{t('.twitter')}", 'https://twitter.com/harunalfat' %>
            </p>
            <p><i class="fa fa-envelope-o"></i>
                harunalfat@gmail.com
            </p>
        </div>
        <div class="col-md-6 text-center">
            <h4 class="intro-text"><strong>Febby Mokodompit</strong></h4>
            <hr>
            <p><i class="fa fa-facebook"></i>
                <%= link_to "#{t('.febby')} #{t('.fb')}", 'https://web.facebook.com/febbymokodompit' %>
            </p>
            <p><i class="fa fa-instagram"></i>
                <%= link_to "#{t('.febby')} #{t('.ig')}", 'https://www.instagram.com/febbymokodompit' %>
            </p>
            <p><i class="fa fa-tumblr"></i>
                <%= link_to "#{t('.febby')} #{t('.tumblr')}", 'http://bulan-sabit.tumblr.com/' %>
            </p>
            <p><i class="fa fa-twitter"></i>
                <%= link_to "#{t('.febby')} #{t('.twitter')}", 'https://twitter.com/FebbyMokodompit' %>
            </p>
            <p><i class="fa fa-envelope-o"></i>
                febby.mokodompit@yahoo.com
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
